<br/><br/>
<form action="/results/index" method="GET">
    <h3>Search</h3>
    <input
        type="name"
        id="summonerName"
        name="summonerName"
        placeholder="Search for a player"
    />
    <br/><br/>
    <button type="submit">Search</button>
</form>